<!DOCTYPE html>
<html data-env="{{env}}" lang="en">

	<head>
		<title>{{app.name}}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta content="ie=edge" http-equiv="x-ua-compatible">
		{{#each css.head}}
			<link href="{{url}}" rel="stylesheet">
		{{/each}}
		{{#each js.head}}
			<script async id={{this.id}} src="{{this.url}}" type="text/javascript" {{#if async}} {{#if id}} {{/if}} {{/if}}></script>
		{{/each}}
	</head>

	<body id="{{pageId}}">
		<main>{{{body}}}</main>
		{{#each css.body}}
			<link href="{{this}}" rel="stylesheet">
		{{/each}}
		{{#each js.body}}
			<script async id="{{this.id}}" src="{{this.url}}" type="text/javascript" {{#if async}} {{#if id}} {{/if}} {{/if}}></script>
		{{/each}}
	</body>

</html>
